/* 
#009129 - leaf green
#d1c9ec - light grey
#7981d0 - light blue
#24335f - blue
#111422 - navy 
*/

/* Global Styles */
/* ------------- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 80px;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h3 ~ p {
  margin: 0;
}

p + h3 {
  margin-top: 30px;
}

a  {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #d1c9ec;
}

/* -----Nav----- */
/* ------------- */

.nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.link {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 700;
  color: #24335f;
}

/* --Aritcle Styles-- */
/* --------------- */

.article {
  color: #d1c9ec;
}

/* Content Styles */
/* -------------- */

.profileImg {
  border-radius: 50%;
}

.wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}

.title {
  padding-top: 50px;
  width: 100%;
  text-align: center;
  background-color: #111422;
  color: #d1c9ec;
}

.aboutMe {
  padding-top: 50px;
  width: 100%;
  background-color: #d1c9ec;
  color: #24335f;
}

.workExperience {
  padding-top: 50px;
  width: 100%;
  background-color: #24335f;
  color: #d1c9ec;
}

.education {
  padding-top: 50px;
  width: 100%;
  background-color: #7981d0;
  color: #111422;
}

.blog {
  padding-top: 50px;
  width: 100%;
  background-color: #24335f;
  color: #d1c9ec;
}

.projects {
  padding-top: 50px;
  width: 100%;
  background-color: #7981d0;
  color: #111422;
}

.contactMe {
  padding-top: 50px;
  width: 100%;
  text-align: center;
  background-color: #111422;
  color: #d1c9ec;
}

.description {
  margin-bottom: 25px;
}
.description p:first-of-type {
  margin-top: 0;
}

/* Media Queires */
/* ------------- */

@media (min-width: 900px) {
  .colNarrow {
    width: 30%;
    float: left;
  }

  .colWide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}

@media (max-width: 899px) {
  .title {
    text-align: center;
    font-size: 50px;
  }

  .marginTop {
    margin-top: 30px;
  }

  .profileImg {
    width: 200px;
  }

  h1 {
    font-size: 60px;
  }
}